$color0: #282930;
$color1: #ffffff;
$color2: #c4c4c4;
$color3: #858585;
$color4: #4d8fd1;
$color5: #6b6b6b;

$colorStat1: #33a356;
$colorStat2: #3da6e3;
$colorStat3: #e0ce2d;
$colorStat4: #e83c5f;

%alignMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
}

%alignY {
    display: flex;
    align-items: center;
}

%betterTextWrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

body {
    margin: 0;
}

@font-face {
    font-family: "Whitney";
    src: url("./assets/Whitney.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("./assets/OpenSans-Regular.ttf") format('truetype');
    font-display: swap;
}

* {
    /* font-family: "Whitney"; */
    font-family: "OpenSans";
}

:focus {
    outline:none;
}

.app {
    width: 100vw;
    height: 100vh;
}

.appContent {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 300px;
    height: 100%;
    background-color: $color0;
}

.sidebarCompact {
    width: 64px;
}

.sidebarButton {
    @extend %alignY;
    width: 100%;
    height: 52px;
    background-color: $color0;
    border: 0;

    cursor: pointer;
}

.sidebarButtonSection1 {
    @extend %alignY;
    width: calc(100% - 64px);
    height: 100%;
}

.sidebarButtonSection2 {
    @extend %alignMiddle;
    width: 64px;
    height: 100%;
}

.sidebarButtonIcon {
    margin-left: 10px;
    color: $color2;
    transform: scale(0.8);
}

.sidebarButtonText {
    font-size: 18px;
    margin-left: 10px;
    color: $color2;
}

.sidebarButtonArrow {
    color: $color2;
    transform: scale(0.8);
}

.selectedSidebar {
    color: $color1;
}

.sidebarSeparator {
    @extend %alignY;
    height: 42px;
    width: 100%;
}

.sidebarSeparatorText {
    color: $color3;
    margin-left: 15px;
    font-size: 16px;
}

.sidebarHeaderButton {
    @extend %alignY;
    width: 100%;
    height: 52px;
    background-color: $color4;
}

.sidebarHeaderButtonText {
    color: $color1;
    margin-left: 15px;
    font-size: 19px;
}

.dashboardSection0 {
    height: 222px;
}

.dashboardSection1 {
    @extend %alignY;
    height: 42px;
    width: calc(100% - 60px);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
}

.dashboardMenuButton {
    @extend %alignMiddle;
    width: 42px;
    height: 42px;
    border: 0;
    cursor: pointer;
    color: $color5;
}

.dashboardSearchbar {
    width: 420px;
    height: 42px;
    margin-left: 30px;

    display: flex;
    /* background-color: $color2; */
}

.dashboardSearchbarInput {
    width: calc(100% - 84px);
    height: 42px;
    border: 0;
    padding: 0;
    padding-left: 10px;
    background-color: transparent;
}

.dashboardSearchbarButton {
    width: 84px;
    height: 42px;

    background-color: $color4;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.dashboardSearchbarButtonIcon {
    transform: scale(0.6);
    color: $color1;
}

.dashboardSection2 {
    height: 120px;
    width: calc(100% - 60px - 90px);
    padding: 30px;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 30px;
}

.dashboardStatItem {
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    padding: 10px;
    padding-left: 20px;
}

.dashboardStatItemValue {
    color: $color1;
    font-size: 29px;
    font-weight: 600;
}

.dashboardStatItemTitle {
    @extend %betterTextWrap;

    color: $color1;
    font-size: 16px;
    padding-top: 5px;

    width: 100%;
    height: 20px;
    text-transform: uppercase;
}

.dashboardStatItemSection2 {
    @extend %alignY;
    display: flex;
    margin-top: 5px;
}

.dashboardStatItemArrow {
    color: $color1;
    transform: scale(0.6);
}

.dashboardStatItemDifference {
    color: $color1;
    margin-left: 5px;
}

.dashboardStatItem:nth-child(n+1) {
    background-color: $colorStat1;
}

.dashboardStatItem:nth-child(n+2) {
    background-color: $colorStat2;
}

.dashboardStatItem:nth-child(n+3) {
    background-color: $colorStat3;
}

.dashboardStatItem:nth-child(n+4) {
    background-color: $colorStat4;
}

.dashboardSection3 {
    display: flex;
    height: calc(100% - 180px - 62px);
    padding-left: 30px;
    padding-right: 30px;
    grid-gap: 30px;
}

.dashboardSection3a {
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 100%;
    grid-gap: 30px;
}

.dashboardSection3b {
    width: 50%;
}

.dashboardSectionPlatformsGraphWrapper,
.dashboardSectionUsersGraphWrapper {
    height: 50%;
    display: flex;
    flex-flow: column;
}

.dashboardSectionPlatformsGraphWrapper {
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
}

.dashboardSectionPlatformsGraph,
.dashboardSectionUsersGraph {
    width: 100%;
    height: 100%;
}

.dashboardSectionPlatformsGraph {
    @extend %alignMiddle;

    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
}


.dashboardSectionPlatformsSection1,
.dashboardSectionPlatformsSection2 {
    height: 50%;
    width: 100%;
}

.dashboardSectionPlatformsSection2 {
    display: block;
}

.dashboardSectionPlatformsOverview {
    @extend %alignY;

    width: calc(50% - 30px);
    padding-left: 30px;
}

.dashboardSectionPlatformsOverviewItem {
    @extend %alignY;
}

.dashboardPlatformIcon {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 8px;
}

.dashboardPlatformPC {
    color: $colorStat4;
    font-weight: 600;
}

.dashboardPlatformPC2 {
    border: 4px solid $colorStat4;
}

.dashboardPlatformMobile {
    color: $colorStat2;
    font-weight: 600;
}

.dashboardPlatformMobile2 {
    border: 4px solid $colorStat2;
}

.dashboardPlatformTablet {
    color: $colorStat3;
    font-weight: 600;
}

.dashboardPlatformTablet2 {
    border: 4px solid $colorStat3;
}

.dashboardSectionPlatformsOverviewItemsWrapper {
    display: grid;
    grid-gap: 15px;
}

.dashboardSectionPlatformsGraphTitle,
.dashboardSectionUsersGraphTitle {
    @extend %betterTextWrap;

    font-size: 20px;
}

.dashboardSectionUserOverviews {
    width: 100%;
    height: 50%;
    overflow-y: auto;
}

.dashboardUserOverview {
    @extend %alignY;

    height: 42px;
}

.dashboardUserOverviewHeader {
    background-color: $color0;
}

.dashboardUserOverviewField {
    @extend %alignMiddle;
    @extend %betterTextWrap;

    width: (100%/6);
    height: 20px;
}

.dashboardUserOverviewFieldHeader {
    color: $color1;
}

.dashboardBrowserOverview {
    @extend %alignY;

    height: 42px;
}

.dashboardBrowserOverviewTitle {
    width: calc(100% - 100px);
    padding-left: 20px;
}

.dashboardBrowserOverviewDifference {
    @extend %alignY;

    width: 80px;
}

.dashboardBrowserOverviewDifferenceArrow {
    transform: scale(0.7);
    padding-top: 15px;
}

.dashboardBrowserOverviewDifferenceValue {
    margin-left: 3px;
}

.dashboardBrowserOverviewDifferenceValueGreen {
    color: $colorStat1;
}

.dashboardBrowserOverviewDifferenceValueRed {
    color: $colorStat4;
}

.dashboardSectionUsersSection1a,
.dashboardSectionPlatformsSection1a {
    width: 100%;
    height: 72px;
}

.dashboardSectionUsersSection1b,
.dashboardSectionPlatformsSection1b {
    display: flex;
}

.dashboardSectionUsersSection1a {
    width: calc(100% - 20px);

    padding: 10px;
    display: flex;
}

.dashboardSectionUsersSection2a {
    width: calc(100% - 120px);
}

.dashboardSectionUsersSection2b {
    width: 120px;
}

.dashboardSectionUsersSection1b {
    height: calc(100% - 82px);
}

.dashboardSection1a {
    display: flex;
    width: calc(100% - 130px);
}

.dashboardSection1b {
    @extend %alignMiddle;

    width: 130px;
    height: 100%;
}

.dashboardUserProfile {
    @extend %alignMiddle;
}

.dashboardUserProfileButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $color4;
    cursor: pointer;
}

.dashboardUserProfileIcon {
    transform: scale(0.45);
    color: $color1;
}

.dashboardUserProfileUsername {
    color: $color0;
    margin-left: 10px;
    cursor: pointer;
}

.dashboardUserProfileArrow {
    transform: scale(0.45);
    color: $color0;
    cursor: pointer;
}

.dashboard {
    height: calc(100% - 50px);
}

.footer {
    @extend %alignY;

    height: 50px;
    width: calc(100% - 60px);

    padding-left: 30px;
    padding-right: 30px;
}

.footerText {
    @extend %betterTextWrap;

    width: calc(100% - 160px);
}

.footerLink {
    width: 160px;
    text-align: right;

    color: $color4;
    text-decoration: none;
}

.dashboardSectionUsersGraphLabels {
    display: flex;
    grid-gap: 10px;
    margin-top: 10px;

    overflow: hidden;
}

.dashboardSectionUsersGraphLabel {
    @extend %alignY;
    width: 120px;
}

.dashboardSectionUsersGraphLabelText {
    @extend %betterTextWrap;

    margin-left: 8px;
    color: $color0;
}

.dashboardSectionUsersGraphLabelIcon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dashboardSectionUsersGraphLabelIconCurrent {
    background-color: $colorStat1;
}

.dashboardSectionUsersGraphLabelIconLast {
    background-color: $colorStat2;
}

.dashboardSectionUsersDifference {
    @extend %alignY;
}

.dashboardSectionUsersDifferenceArrow {
    transform: scale(0.6);
}

.dashboardSectionUsersDifferenceArrowRed {
    color: $colorStat4;
}

.dashboardSectionUsersDifferenceArrowGreen {
    color: $colorStat1;
}

.dashboardSectionUsersDifferenceValue {
    color: $color0;
    margin-left: 3px;
}

.dashboardSectionUsersDifferenceTitle {
    color: $color0;
}